.main{
  margin: 10%;
  border: 1px solid gray;
  padding: 40px;
  height: 1000px;
}

.header{
  border-bottom: 1px solid gray;
  padding: 5px;
  margin: 10px;
  min-height: 300px;
}

.header img{
  float: right;
  height: 300px;
}

.header > div > a {
  margin-left: 20px;
}
