.main{
  margin: -10px 10%;
  min-width: 900px;
  max-width: 1200px;
  border-right: 4px solid whitesmoke;
  border-left: 4px solid whitesmoke;
  padding: 0 40px;
}

.header{
  border-bottom: 2px solid whitesmoke;
  padding: 5px;
  margin: 10px;
  min-height: 300px;
}

.header img{
  float: right;
  height: 300px;
}

.header > div > a {
  margin-left: 20px;
}
