.main{
  margin: -10px 10%;
  max-width: 1070px;
  min-width: 630px;
  border-right: 4px solid whitesmoke;
  border-left: 4px solid whitesmoke;
  padding: 0 40px;
}

.header{
  border-bottom: 2px solid whitesmoke;
  padding: 5px;
  margin: 10px;
  min-height: 300px;
}

.header img{
  float: right;
  height: 300px;
}

.header > div > a {
  margin-left: 20px;
}

.reclam {
  width: 450px;
  margin: 4px;
  padding: 2px;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  display: inline-block;
}

.reclam > p {
  text-align: center;
}

.reclam > img {
  margin-left: 150px;
}
