.field 
{
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 25px;
}

.field .card-payment-input 
{
    border: none;
    border-bottom: 1px solid gray; 
    outline: none;
    height: 24px;
    color: gray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6px;
    float: right;
}

.card-payment-input:focus 
{
    color: #000;
    border-bottom: 1px solid #000;
}

.creedit-card
{
    height: 300px;
    width: 500px;
}

.creedit-card .card-payment-input
{
    border-bottom: 1px solid gray; 
}

.card-payment
{
    margin: 5%;
}

.creedit-card{
    height: 200px;
    width: 400px;
    background: whitesmoke;
    box-shadow: 0 0 30px gray;
    border-radius: 20px; 
}

.creedit-card > .card-number
{
    margin: 35px 40px 0 40px;
    width: 320px;
}

.creedit-card > .card-year
{
    margin: 20px 0px 0 40px;
    width: 120px;
}

.creedit-card > .card-csv
{
    margin: 20px 40px 0 40px;
    width: 100px;
}

.creedit-card > .card-payment-input 
{
    border: 1px solid whitesmoke;
    border-bottom: 1px solid gray;
    background: whitesmoke;
    outline: none;
    height: 24px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6px;
}

.discrepyion-payment
{
    margin-left: 450px;
    margin-top: -230px;
    width: 400px;
}

.creedit-card img
{
    margin: 10px;
    float: right;
    height: 40px;
}

div.button25 {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
  }
  div.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }